@charset 'utf-8';
@use './abstracts' as *;
@use './vendor/normalize';

$body-font-size: rem(15);

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: $default-html-font-size;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $main-background;
  min-height: 100vh;
  padding: rem(30) rem(40);
  color: #fff;
  line-height: 1.2;
  font-family: 'Inter', sans-serif;
  font-size: $body-font-size;
}

h1,
h2,
h3,
h4,
p {
  margin: rem(20) 0;
}

p {
  line-height: 1.6;
}

// Utilities
.accent-color {
  color: $accent-color;
}

main {
  display: grid;
  border-radius: 0.5em;
  background-color: $card-background;
  overflow: hidden;

  @supports not (display: grid) {
    display: flex;
    flex-direction: column;

    @include breakpoint-up('medium') {
      flex-direction: row;
    }
  }

  @include breakpoint-up('medium') {
    grid-template-columns: repeat(2, 1fr);
    max-width: 50em;
  }
}

.get-insights {
  order: 2;
  padding: rem(30);
  text-align: center;

  @include breakpoint-up('medium') {
    text-align: left;
    order: 1;
  }

  @supports not (grid-template-columns: repeat(2, 1fr)) {
    flex-basis: 50%;
  }

  &__main-heading {
    color: $main-heading-stats;
  }

  &__desc {
    color: $main-paragraph;
    font-size: rem(13);
  }
}

.get-insights .stats {
  display: grid;
  grid-gap: rem(14);

  @supports not (grid-gap: rem(14)) {
    &__div {
      margin: rem(20) 0;
    }
  }

  @include breakpoint-up('small') {
    grid-template-columns: repeat(3, 1fr);

    @supports not (grid-template-columns: repeat(2, 1fr)) {
      & > div {
        float: left;
        width: 33.3%;
      }
    }
  }

  &__number {
    margin: rem(10);
    font-size: rem(21);
  }

  &__heading {
    margin: rem(10);
    color: $stats-heading;
    text-transform: uppercase;
    font-family: 'Lexend Deca', sans-serif;
    font-size: rem(13);
    font-weight: 400;
  }
}

.purple-bg {
  position: relative;
  order: 1;
  background: url('../images/image-header-mobile.jpg') no-repeat center center;
  background-color: $accent-color;
  background-blend-mode: multiply;
  background-size: cover;
  height: rem(210);

  @supports not (grid-template-columns: repeat(2, 1fr)) {
    flex-basis: 50%;
    height: rem(400);
  }

  @media screen and (max-height: 25em) {
    height: rem(300);

    @supports not (display: grid) {
      height: rem(400);
    }
  }

  @include breakpoint-up('medium') {
    @supports not (grid-template-columns: repeat(2, 1fr)) {
      height: rem(325);
    }

    order: 2;
    height: 100%;
    background-image: url('../images/image-header-desktop.jpg');
  }

  @supports not (background-blend-mode: multiply) {
    &::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      background-color: rgba($accent-color, 0.5);
      height: 100%;
      width: 100%;
    }
  }
}
