@use "../abstracts" as *;

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

::selection {
  background-color: $selection-bg;
  color: $white;
}

::-moz-selection {
  background-color: $selection-bg;
  color: $white;
}

html {
  font-size: $default-html-font-size;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: $body-bg;
  padding: rem(80) rem(24);
  min-height: 100vh;
  font-size: rem(15);
}

h1 {
  line-height: 1.2;
}

p {
  line-height: 1.6;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

img {
  display: block;
  width: 100%;
  height: auto;
}
