// Default style that I currently use on this project
$default-html-font-size: 100% !default;
$black: rgb(17, 17, 17) !default;
$white: rgb(255, 255, 255) !default;
$selection-bg: rgb(139, 44, 199) !default;

// Primary Color
$very-dark-blue: hsl(233, 47%, 7%);
$very-desaturated-blue: hsl(244, 38%, 16%);
$soft-violet: hsl(277, 64%, 61%);
$slightly-transparent-white-100: hsla(0, 0%, 100%, 0.75);
$slightly-transparent-white-200: hsla(0, 0%, 100%, 0.6);


// Use Cases
$body-bg: $very-dark-blue;
$card-bg: $very-desaturated-blue;
$image-overlay-color: $soft-violet;
$stats-number-color: $white;
$card-title-color: $white;
$card-title-color--purple: $soft-violet;
$card-description-color: $slightly-transparent-white-100;
$stats-description-color: $slightly-transparent-white-200;